.navbar{
    box-sizing: border-box;
    background-color:rgb(192, 134, 243);
    border-radius: 35px;
    display: flex;
    max-width: 90%;
    margin:auto;
    margin-top:20px;
}
.navbar ul{
    overflow: auto;
    display: flex;
    /* justify-content: space-around; */
}
.navbar li{
    float: left;
    padding: 5px 5px;
    margin: 5px 15px;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 15pt;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: rgb(4, 0, 255);
}
.news{
    /* background-color: blue; */
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.newsl{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: white;
    font-size: 20pt;
    padding: 15px;
    border-radius: 14px;
    color: black;
    border: solid 4px rgb(151, 53, 236);
    margin-bottom: 30px;

}
.newsl:hover{
    color: white;
    background-color: rgb(151, 53, 236);
}
*{
    font-family:Helvetica,Arial, sans-serif;    
}

body{
    background-color: rgb(243, 240, 245);
}

/* now starts main page css */

.container{
    /* background-color: blue; */
    width: 90%;
    margin:auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 100px; */
}
.display-5{
    /* background-color: chartreuse; */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30pt;
    text-align: center;
    /* background-color: rgb(180, 100, 255); */
    color:rgb(253, 153, 2);
    border-radius: 15px;
    padding: 10px;
}
.line{
    /* background-color: darkgray; */
    text-align: center;
    font-size: 13pt;
}

.btn{
    font-size: 15pt;
    background-color: rgb(180, 100, 255);
    color: white;
    padding: 7px;
    border-radius: 10px;
    
}
.btn:hover{
    background-color: white;
    color: rgb(180, 100, 255);
    border: solid 3px rgb(180, 100, 255);
}
.form{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;

}